.management {
  ul {
    list-style: none;

    li {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 600;

      input {
        margin-right: 10px;
      }
    }
  }

  .items-parking-parent {
    padding: 20px 10px;
    box-shadow: 5px 5px 20px 0px rgba(0, 44, 40, 0.2);
    border-radius: 16px 16px 0px 0px;
    height: 360px;
  }

  .items-parking {
    padding: 20px 10px;
    height: 360px;
    overflow: auto;
    overflow-x: hidden;
  }

  .items-out-parking {
    padding: 20px 10px;
    height: 360px;
    overflow: scroll;
    overflow-x: hidden;
  }



  .management-container {
    padding: 20px 10px;
    box-shadow: 5px 5px 20px 0px rgba(0, 44, 40, 0.2);
    border-radius: 16px 16px 0px 0px;

    .items-ungrouped,
    .items-grouped {
      padding: 20px 10px;
      height: 348px;
      overflow: auto;
      overflow-x: hidden;
    }

    input[type="checkbox"] {
      appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 1rem;
      padding: 0.1rem;
      border: 1px solid #868585;
      border-radius: 6px;
      position: relative;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &::before {
        content: "";
        content: '\2713';
        width: .8rem;
        height: .8rem;
        position: absolute;
        top: -3px;
        transform: scale(0);
        color: #246C66;
      }

      &:checked {
        &::before {
          transform: scale(1);
        }
      }
    }
  }

  // Select
  .css-1s2u09g-control {
    background-color: inherit;
  }

  .css-1pahdxg-control {
    background-color: inherit;
  }

  .css-qc6sy-singleValue {
    color: inherit;
  }
}

.dark .css-26l3qy-menu {
  background-color: #222738;
}