.container {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.25rem;
}
.map-container {
  width: 100%;
  height: 100vh;
}
.template-wrap {
  background: crimson !important;
}
